extends layout

block content
  h1= title
  p Welcome to #{title}
  main
    .button-container 
      a(href='/new'): button.compose= "Add"
    each message in messages
      #message 
        h1= message.text 
        p= message.user 
        h2= message.added 